@page
@model ConfirmEmailModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="padding-top: 50px; font-size: 50px; color: white">Conta confirmada com sucesso</h1>
<img src="~/Imagem(Login)/finish-line-animate (1).svg" class="finish" />

<style>
    body {
        background-color: #87CEFA;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }

    .finish {
        margin-left: 40px;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        max-width: 600px;
    }
</style>