@page
@model ConfirmEmailModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="padding-top: 50px; font-size: 50px; color: white">Conta confirmada com sucesso!</h1>
<h6 style="padding-top: 50px; font-size: 50px; color: white">Clique na imagem para voltar ao login.</h6>
<a asp-controller="Funcionarios" asp-action="Index"><img src="~/Imagem(Login)/login-projeto-2.jpg" class="finish" /></a>
   

<style>
    body {
        background-color: #87CEFA;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }

    .finish {
        margin-left: 40px;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        max-width: 600px;
    }
</style>